if SHIELD_SWOOP_DONGLE

config ZMK_KEYBOARD_NAME
    default "Swoop"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

endif

if SHIELD_SWOOP_DONGLE || SHIELD_SWOOP_LEFT || SHIELD_SWOOP_RIGHT

config ZMK_SPLIT
    default y

endif
